<!DOCTYPE html>
<html>
<head>
  <link href="./css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <!-- Custom Fonts -->
  <link href="./css/dummy.css" rel="stylesheet">
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <script src="http://maps.google.com/maps/api/js?sensor=false&v=3&libraries=geometry" type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script>

  var amigo = angular.module('amigo', []);
  </script>
  <script src="controllers/trips.js"></script>
  <script src="controllers/profile.js"></script>
  <script src="controllers/friends.js"></script>
  <script src="controllers/messages.js"></script>
  <script src="controllers/blogs.js"></script>
  <script src="controllers/feedback.js"></script>

  <title>
  </title>
</head>

<body ng-app="amigo">
<H1>Amigo Backend Testing Area</H1>
<% if (locals.user_id) { %>
                        <div class="col-md-4"></div>
                        <div class="col-md-4 alert alert-danger">Logged in with User ID: <%= user_id %></div>
                        <div class="col-md-2"><a href="/testLogout" class="btn btn-default btn-lg">Log out</a></div>
                        <div class="clearfix"></div>
                        <% } %>
<HR>
<div class="col-md-12">
<h2>Login</h2>
<div class="divider col-md-4">
<H4>Social Signup</H4>
<ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="/auth/facebook" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                            </li>
                            <li>
                            </li>    
                        </ul>
</div>
<div class="divider col-md-4">
<H4>Local Signup</H4>
<form action="/testSignup" method="post">
                              <input id="username" name="username" type="username" placeholder="username" class="form-control input-md"> 

                              <input id="password" name="password" type="password" placeholder="password" class="form-control input-md"> 
                              
                              <!--
                              <input id="password" type="password" placeholder="confirm password" class="form-control input-md"> -->

                              <button class="btn btn-default btn-lg" id="submit"><i class="submit"></i><span class="network-name">submit</span></button>
                          </form>
</div>
<div class="col-md-4">
<h4>Local login<h4>
  <form class="form-horizontal" action="/testLogin" method="post">
                        <fieldset>
                        <!-- Text input-->
                        <div class="form-group">
                          <label class="col-md-2 control-label" for="username">Username</label>  
                          <div class="col-md-8">
                          <input id="username" name="username" type="text" placeholder="enter name" class="form-control input-md">
                            
                          </div>
                        </div>

                        <!-- Password input-->
                        <div class="form-group">
                          <label class="col-md-2 control-label" for="password">Password </label>
                          <div class="col-md-8">
                            <input id="password" name="password" type="password" placeholder="password" class="form-control input-md">
                            
                          </div>

                        </div>
                        <div class="col-md-4"></div>
                        <div class="form-group">
                          <button class="btn btn-default">Submit</button>
                        </div>
                            
                          </div>
                        </div>

                        </fieldset>
                        </form>
</div>

<HR>
  <div ng-controller="MakeTrips">
<div class="col-md-12">
  <div class="col-md-6">
    <H3>ng-controller="MakeTrips"</H3>


    <form type="submit">
      <P><label>Destination:</label><input ng-model="destination"></P>
      <P><label>Start Time:</label><input ng-model="start" type="date"></P>
      <P><label>End Time:</label><input ng-model="end" type="date"></P>
      <P><label>Trip Activities</label><input ng-model="activities"></P>
      <P><label>Trip picture (URL)</label><input ng-model="tripPic"></P>
      <button ng-click="makeTrip()">Make Trip</button>
    </form>
  </div>
  <div class="col-md-6 response">Response<pre>{{ response }}</pre></div>
 </div>
</div>

  <hr>

<div ng-controller="AddProfile">
  <div class="col-md-12">
    <div class="col-md-6">
      <h3>ng-controller="AddProfile"</h3>

      <form type="submit">
        <p><label>Profile</label>
        <textarea ng-model="profile"></textarea>
        </p>


        <p><label>Profile Pic (URL)</label><input ng-model="profilepic"></p>
        <button ng-click="addProfile()">Add/update profile to signed in user</button>
      </form>
    </div>


    <div class="col-md-6 response">
      Response

      <pre>
{{resProfile}}
{{resProfilePic}}
</pre>
    </div>
  </div>
</div>

  <hr>
  <div ng-controller="GetProfile">
<div class="col-md-12">
  <div class="col-md-6">
    <H3>ng-controller="GetProfile"</H3>


    <form type="submit">
      <label>Username: </label> <input ng-model="username"><br>
      <button ng-click="getProfile()">Get Profile of Username</button>
    </form>
  </div>
    <div class="col-md-6 response">
    Response:
    <pre>
    id#: {{ user_id }}
    email: {{ user_email }}
    password(hashed): {{ user_hashpass }}
    fb_id: {{ user_fb_id }}
    fb_token: {{ user_fb_token }}
    profile: {{ user_profile }}
    </pre>
</div></div>
  <hr>
  <div ng-controller="GetTrips">
<div class="col-md-12">
  <div class="col-md-6">

    <H3>ng-controller="GetTrips" // from Username</H3>
    <form type="submit">
      <P><label>Username:</label> <input ng-model="username"><p>
      <button ng-click="getTripsByUsername()">Get Trips</button>
    </form>
    <br>
  </div>
   <div class="col-md-6 response">Response:
    <div ng-repeat="trip in trips">
      <ul>
        <li>{{trip.username}}</li>


        <li style="list-style: none; display: inline">
          <ul>
            <li><strong>Destination: </strong>{{trip.dest_name}}</li>


            <li><strong>Latitude: </strong>{{trip.geocode_latitude}}</li>


            <li><strong>Longitude: </strong>{{trip.geocode_longitude}}</li>


            <li><strong>Time Start: </strong>{{trip.time_start.slice(0, 10)}}</li>


            <li><strong>Time End: </strong>{{trip.time_end.slice(0, 10)}}</li>
              <li><a ng-href="http://maps.google.com/?q={{trip.geocode_latitude}},{{trip.geocode_longitude}}">Get Map</a></li>
          </ul>
        </li>
      </ul>
  
    </div>
    <br>
</div></div>
  </div>

  <hr>


  <div ng-controller="GetTripsByTime">
  <div class="col-md-12">
  <div class="col-md-6">
    <H3>ng-controller="GetTripsByTime"</H3>
    <form type="submit">
      <p><label>Start Time:</label><input ng-model="start" type="date"></p>
      <p><label>End Time:</label><input ng-model="end" type="date"></p>
      <button ng-click="getTripsByTime()">Get Trips by Time</button>
    </form>
    </div>
 <div class="col-md-6 response">Response:
        <div ng-repeat="trip in trips">
      <ul>
        <li>{{trip.username}}</li>


        <li style="list-style: none; display: inline">
          <ul>
            <li><strong>Destination: </strong>{{trip.dest_name}}</li>


            <li><strong>Latitude: </strong>{{trip.geocode_latitude}}</li>


            <li><strong>Longitude: </strong>{{trip.geocode_longitude}}</li>


            <li><strong>Time Start: </strong>{{trip.time_start.slice(0, 10)}}</li>


            <li><strong>Time End: </strong>{{trip.time_end.slice(0, 10)}}</li>
          </ul>
        </li>
      </ul>
  
    </div>
  </div>
</div>

  <hr>

          <div class="col-md-12">
  <div class="divider col-md-6">
        <div ng-controller="Befriend">
          <H4>ng-controller="Befriend"</H4>


          <form type="submit">
            <label>Friender (Username):</label><input ng-model="friender"><br>
            <label>Friendee (Username):</label><input ng-model="friendee"><br>
            <button ng-click="befriend()">Befriend</button> 
          </form>
          <pre>{{befriend_response}}</pre>
        </div>
        </div>
  <div class="col-md-6">
        <div ng-controller="GetFriends">
          <H4>ng-controller="GetFriends"</H4>
          <form type="submit">
            <p><label>Username:</label><input ng-model="username"></p>
            <button ng-click="getFriends('myFriends')">Get who I've friended</button> <button ng-click="getFriends('friendsMe')">Get who friended me</button>
          </form>
          <div style="clear:both"></div>
              <div class="response">
            <ul ng-repeat="friend in friends">
              <li>{{friend.username}}</li>
            </ul>
            </div>
        </div>
</div>
</div>

  <hr>


          <div class="col-md-12">
  <div class="divider col-md-6">
        <div ng-controller="SendMessage">
          <H4>ng-controller="SendMessage"</H4>


          <form type="submit">
            <p><label>Sender:</label><input ng-model="sender"></p>
            <p><label>Recipient:</label><input ng-model="reciever"></p>
            <p><label>Subject:</label><input ng-model="subject"></p>
            <p><label>Body:</label><textarea ng-model="content"></textarea></p>
            <button ng-click="sendMessage()">send</button> 
            <PRE>{{message_response}}</PRE>
          </form>
        </div>
        </div>
  <div class="col-md-6">
        <div ng-controller="GetMessages">
          <H4>ng-controller="GetMessages"</H4>


          <form>
            <label>Username:</label><input ng-model="username"><br>
            <button ng-click="getMessages('receiver')">Get messages I recieved</button> <button ng-click="getMessages('sender')">Get messages I sent</button>
          </form>
<div style="clear:both"></div>
<div class="response">
            <div ng-repeat="message in messages">
              <UL>
              <LI><strong>Recipient: </strong>{{message.receiver}}</LI>
              <LI><strong>Sender: </strong>{{message.sender}}</LI>
              <LI><strong>Subject: </strong>{{message.subject}}</LI>
              </UL>
              <P class="messagebody">{{message.body}}</P>
            </div>
            </div>
        </div>
</div>
</div>


  <hr>


          <div class="col-md-12">
  <div class="divider col-md-6">
        <div ng-controller="AddFeedback">
          <H4>ng-controller="AddFeedback"</H4>


          <form type="submit">
            <P><label>Author:</label><input ng-model="author"></P>
            <P><label>Subject(person):</label><input ng-model="subject"></P>
            <P><label>Feedback:</label><textarea ng-model="feedback"></textarea></P>
            <button ng-click="addFeedback()">send</button> 
          </form>
          <pre>{{debug_response}}</pre>
        </div>
</div>
  <div class="col-md-6">
        <div ng-controller="GetFeedback">
          <p>ng-controller="GetFeedback"</p>


          <form>
            <label>Username:</label><input ng-model="username"><br>
            <button ng-click="getFeedback('author')">Get feedback I wrote</button> <button ng-click="getFeedback('subject')">Get feedback about me</button>
          </form>
          <div style="clear:both"></div>
<div class="response">
            <div ng-repeat="feedback in feedbacks">
              <UL>
              <LI><strong>Author: </strong>{{feedback.author}}</LI>
              <LI><strong>Subject: </strong>{{feedback.subject}}</LI>
              <LI><strong>Feedback: </strong>{{feedback.feedback}}</LI>
              </UL>
            </div></div>
        </div>
</div></div>

  <hr>


          <div class="col-md-12">
  <div class="divider col-md-6">
        <div ng-controller="WriteBlog">
          <H4>ng-controller="WriteBlog"</H4>


          <form type="submit">
            <P><label>Author:</label><input ng-model="author"></P>
            <P><label>Subject:</label><input ng-model="subject"></P>
            <P><label>Body:</label><textarea ng-model="body"></textarea></P>
            <p><label>Blog Pic (URL):</label><input ng-model="blogpic"></p>
            <p><button ng-click="publishBlog()">Publish Blog</button></p>
          </form>
            <pre>{{debug_response}}</pre>
        </div>
</div>
  <div class="col-md-6">
        <div ng-controller="GetBlogs">
          <H4>ng-controller="GetBlogs"</H4>


          <form>
            <label>Username:</label><input ng-model="username"><br>
            <button ng-click="getBlogs()">Get blogs</button>
          </form>
          <div style="clear:both"></div>
<div class="response">
            <div ng-repeat="blog in blogs">
            <UL>
              <LI><strong>Author: </strong>{{blog.author_name}} <em>at: {{blog.created_at.slice(0,10)}}</em></LI>
              <LI><strong>Subject: </strong>{{blog.subject}}</LI>
              <P class="messagebody">{{blog.body}}</P>
            </div></div>
        </div>
    </div>
    </div>

  <hr>
</body>
</html>