<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Landing Page - amiGo</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">AMIGO</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#services">Services</a>
                    </li>
                    <li>
                        <a href="#login">Login</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">
           <!-- login box for social buttons -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-box">
                    <div class="intro-message">
                        <h1>amiGo</h1>
                        <h3>Adventure Awaits</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="/auth/facebook" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Signup with Facebook</span></a>
                            </li>
                            <li>
                            </li>    
                        </ul>
                          <!-- signup form -->

                          <!-- Error div -->

                        <% if (signupMessage.length > 0) { %>
                        <div class="col-md-4"></div>
                        <div class="col-md-4 alert alert-danger"><%= signupMessage %></div>
                        <div class="clearfix"></div>
                        <% } %>

                          <div class="col-md-4"></div>
                          
                          <div class="col-md-4">
                          <form action="/signup" method="post">
                            <label>Or sign up locally:</label>
                              <input id="username" name="username" type="username" placeholder="username" class="form-control input-md"> 

                              <input id="password" name="password" type="password" placeholder="password" class="form-control input-md"> 
                              
                              <!--
                              <input id="password" type="password" placeholder="confirm password" class="form-control input-md"> -->

                              <button class="btn btn-default btn-lg" id="submit"><i class="submit"></i><span class="network-name">submit</span></button>
                          </form>
                          <br>
                          Already a member? <u><a style="color: rgb(255,255,255)" href="#login">Click here.</a></u>
                          </div>
                            <div class="col-md-4"></div>
                         
                         
                          <!-- form break -->
                    </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Some Feature Description:
                    <p class="lead">There will be some description about the type of service we provide to the user and how awesome it is. It should be brief. This image to the right -->> <br>should be a map</br></p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/ipad.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
   
    <a name="login"></a>
    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Signup With amiGo:</h2>
                    <p class="lead">It's easy to get started, just sign up<br>and start finding new places to explore<br> and people to explore them with.</br> 
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <!-- form needs to go here -->
                     <form class="form-horizontal" action="/login" method="post">
                        <fieldset>

                        <!-- Form Name -->
                        <legend>Already a user? Login Here:</legend>

                         <!-- Error div -->
                        <% if (loginMessage.length > 0) { %>
                        <div class="alert alert-danger"><%= loginMessage %></div>
                        <% } %>

                        <!-- Text input-->
                        <div class="form-group">
                          <label class="col-md-2 control-label" for="username">Username</label>  
                          <div class="col-md-8">
                          <input id="username" name="username" type="text" placeholder="enter name" class="form-control input-md">
                            
                          </div>
                        </div>

                        <!-- Password input-->
                        <div class="form-group">
                          <label class="col-md-2 control-label" for="password">Password </label>
                          <div class="col-md-8">
                            <input id="password" name="password" type="password" placeholder="password" class="form-control input-md">
                            
                          </div>

                        </div>
                        <div class="col-md-4"></div>
                        <div class="form-group">
                          <button class="btn btn-default">Submit</button>
                        </div>
                            
                          </div>
                        </div>

                        </fieldset>
                        </form>

                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">Services</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#login">Login</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; amiGo 2014. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
