<div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active">         
        </div>
      </div>
    </div>
    <div class="search">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="form-section">
                <div ng-controller="MakeTrips" class="row">
                    <form role="form">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="sr-only" for="location">Location</label>
                          <input type="text" class="form-control" id="location" placeholder="Where ?" ng-model="destination">
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="sr-only" for="checkin">Check in</label>
                          <div class="input-group">
                            <input type="date" class="form-control" id="checkin" placeholder="Check in" ng-model="start">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="sr-only" for="checkout">Check out</label>
                          <div class="input-group">
                            <input type="date" class="form-control" id="checkout" placeholder="Check out" ng-model="end">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2">

                      <!-- 

                        <div ng-controller="MakeTrips">
<div class="col-md-12">
  <div class="col-md-6">
    <H3>ng-controller="MakeTrips"</H3>


    <form type="submit">
      <P><label>Destination:</label><input ng-model="destination"></P>
      <P><label>Start Time:</label><input ng-model="start" type="date"></P>
      <P><label>End Time:</label><input ng-model="end" type="date"></P>
      <P><label>Trip Activities</label><input ng-model="activities"></P>
      <P><label>Trip picture (URL)</label><input ng-model="tripPic"></P>
      <button ng-click="makeTrip()">Make Trip</button>
    </form>
  </div>
  <div class="col-md-6 response">Response<pre>{{ response }}</pre></div>
 </div>
</div>
 -->
                        <!-- <div class="form-group">
                          <label class="sr-only" for="guest">Guest</label>
                          <select id="guest" name="guest" class="form-control">
                              <option value="1">1 Guest</option>
                              <option value="2">2 Guests</option>
                              <option value="3">3 Guests</option>
                              <option value="4">4 Guests</option>
                              <option value="5">5 Guests</option>
                              <option value="6">6 Guests</option>
                              <option value="7">7 Guests</option>
                              <option value="8">8 Guests</option>
                              <option value="9">9 Guests</option>
                              <option value="10">10 Guests</option>
                              <option value="11">11 Guests</option>
                              <option value="12">12 Guests</option>
                              <option value="13">13 Guests</option>
                              <option value="14">14 Guests</option>
                              <option value="15">15 Guests</option>
                              <option value="16">16+ Guests</option>
                          </select>
                        </div> -->
                      </div>
                      <div class="col-md-2">
                        <button ng-click="makeTrip()" type="submit" class="btn btn-default btn-primary">Book Trip</button>
                      </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>  